.schema-creation-form {

  .acls {
    list-style:none;
    margin:0;
    padding:0;

    li {
      width:150px;
      display:inline-block;
      vertical-align: top;
    }
  }

  .fields {
    list-style:none;
    margin:0;
    padding:0;

    li {
      width:150px;
      display:inline-block;
      vertical-align: top;
    }
  }

}