
#password-overlay {
	position:fixed;
	top:0; bottom:0; left:0; right:0;
	background-color:rgba(0,0,0,0.8);
	z-index:999999;

	display: -webkit-box;
	display: -webkit-flex;
	display: flex;

	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;

  &:not(.opened) {
    display:none !important;
  }

	h2 {
		color:white;
	}

	.password-wrap {
		max-width: 400px;
		text-align: center;

		form {
			input {
				color:black;
				display: block;
				margin: 10px auto;
				max-width:200px;
			}

		}
		a {
			color:white;
			display:block;
			text-align: center;
			margin-top:40px;
			cursor: pointer;
		}
	}

}
