
$tuple-bg:lighten($brand-primary,45%);

.spacedog-schema {
    font-family: Source Code Pro,Courier New,monospace;

    .spacedog-schema-container {
        margin-bottom:1rem;
    }

    .fieldname {
        font-size:16px;
        font-weight:bold;
        display:inline-block;
        min-width:120px;
    }
        
    ul {
        list-style:none;
        display:inline;
        margin:0;
        padding:0;
        li {
            display:inline-block;
            margin-right:8px;
            background-color:lighten(#333,65%); 

            .prop-key {
                background-color:lighten(#333,61%); 
                display:inline-block;
                min-width:66px;
                text-align:right;
                font-size:12px;
                font-weight:bold;
                margin-right: -10px;
                height:100%;
            }
            .prop-value {
                display:inline-block;
                font-size:12px;
                min-width:66px;
                text-align:left;
            }
        }
    }
}

.spacedog-tuple {
    display:block;
    overflow: hidden;
    transition:max-height 100ms ease-out, margin-bottom 100ms ease-out, padding-bottom 100ms ease-out;
    width:100%;
    position:relative;

    max-height: none;
    padding-top:2rem;
    margin-bottom:2rem;
    background-color:$tuple-bg;

    .spacedog-tuple-item {
        display:inline-block;
    }

    &:hover {
        background-color:lighten($brand-primary,40%);
    }

    & .spacedog-tuple {
        max-height: none !important;
        padding-top:initial !important;
        margin-bottom:initial !important;
        &:after {
            content:' '
        }
    }
}


.spacedog-field {
    // border:1px solid darken($brand-primary, 30%);
    padding: .5rem 1.2rem;
    margin: .1rem;
    margin-left:0;
    display: inline-block;

    .field {
        display:inline-block;
        font-size:12px;
        font-weight:bold;
        font-family: Source Code Pro,Courier New,monospace;
        color:darken($brand-primary, 20%);
    }
    .value {
        display:inline-block;
        font-size:13px;
        padding:5px;
        
        &:hover {
            background-color:white;
        }

        &.editable {
            background-color:$tuple-bg;
        }
    }
}

.space-search {

    padding:1rem 0;
    background-color:#4f4f63;

    .cntr {
        display:table;
        width:100%;
        height:100%;

        .cntr-innr {
            display:table-cell;
            text-align:center;
            vertical-align:middle
        }
    }

    label.search {
        display: inline-block;
        position: relative;
        height: 35px;
        width: 35px;
        box-sizing: border-box;
        margin: 0px 8px 7px 0px;
        padding: 7px 9px 0px 9px;
        border: 3px solid $brand-primary;
        border-radius: 25px;
        transition: all 200ms ease;
        cursor: text;
        background-color:transparent;
        animation:background-color 100ms ease-out;
        
        &:after {
            content: "";
            position: absolute;
            width: 3px;
            height: 20px;
            right: -5px;
            top: 21px;
            background: $brand-primary;
            border-radius: 3px;
            transform: rotate(-45deg);
            transition: all 200ms ease;
        }
        
        &.active,
        &:hover {
            width: 90%;
            margin-right: 0px;
            padding:0;
            background-color:#333;
            
            &:after {
                height: 0px;    
            }
        }
        
        input {
            width: 100%;
            border: none;
            box-sizing: border-box;
            font-family: Helvetica;
            font-size: 15px;
            color: inherit;
            background: transparent;
            outline-width: 0px;
            padding:0 1rem;
        }
    }

}