
.spacedog-schema {
    ul {
        list-style:none;
    }
    * {
        display:inline-block;
    }
}

.spacedog-tuple {
    display:block;
    overflow: hidden;
    max-height:41px;
    transition:max-height 100ms ease-out, margin-bottom 100ms ease-out;
    width:100%;
    border-left:1px solid darken($brand-primary, 30%);
    position:relative;

    .spacedog-tuple-item {
        display:inline-block;
    }

    &::after {
        content:'...';
        position:absolute;
        bottom:0;
        right:0;
        color:darken($brand-primary, 25%);
    }

    &:hover {
        max-height: none;
        margin-bottom:5rem;
        &:after {
            content:' '
        }
    }

    & .spacedog-tuple {
        max-height: none !important;
        margin-bottom:initial !important;
        &:after {
            content:' '
        }
    }
}


.spacedog-field {
    border:1px solid darken($brand-primary, 30%);
    border-left:0;
    padding: .5rem 1.2rem;
    margin: .1rem;
    margin-left:0;
    display: inline-block;

    .field {
        display:inline-block;
        font-size:12px;
        font-weight:bold;
        font-family: Source Code Pro,Courier New,monospace;
        color:darken($brand-primary, 20%);
    }
    .value {
        display:inline-block;
    }
}

.space-search {

    padding:1rem 0;
    background-color:#4f4f63;

    .cntr {
        display:table;
        width:100%;
        height:100%;

        .cntr-innr {
            display:table-cell;
            text-align:center;
            vertical-align:middle
        }
    }

    label.search {
        display: inline-block;
        position: relative;
        height: 35px;
        width: 35px;
        box-sizing: border-box;
        margin: 0px 8px 7px 0px;
        padding: 7px 9px 0px 9px;
        border: 3px solid $brand-primary;
        border-radius: 25px;
        transition: all 200ms ease;
        cursor: text;
        background-color:transparent;
        animation:background-color 100ms ease-out;
        
        &:after {
            content: "";
            position: absolute;
            width: 3px;
            height: 20px;
            right: -5px;
            top: 21px;
            background: $brand-primary;
            border-radius: 3px;
            transform: rotate(-45deg);
            transition: all 200ms ease;
        }
        
        &.active,
        &:hover {
            width: 90%;
            margin-right: 0px;
            padding:0;
            background-color:#333;
            
            &:after {
                height: 0px;    
            }
        }
        
        input {
            width: 100%;
            border: none;
            box-sizing: border-box;
            font-family: Helvetica;
            font-size: 15px;
            color: inherit;
            background: transparent;
            outline-width: 0px;
            padding:0 1rem;
        }
    }

}