
<div class="container-fluid" id="app-container">


  <nav>
    <h1><img src="img/spacedog.png"/> SpaceDog</h1>
    <h2>{{mainStore.backendId}}</h2>

    <space-search q="mainStore.q"></space-search>

    <ul>
      <li>
        <div>
          <a ui-sref="app.schemas">Schémas</a>

          <ul class="sublist">
            <li ng-repeat="schema in mainStore.schemas | orderBy:'type' ">
              <a ui-sref="app.schema({type:schema.type})">{{schema.type}}</a>
            </li>

            <li class="creation">
              <a ui-sref="app.schemaCreation()">new</a>
            </li>

          </ul>

        </div>
        </li>
    </ul>
    <a id="logout" ng-click="logout()"/>Déconnexion</a>
  </nav>

  <div id="app-content">
    <ui-view></ui-view>
  </div>

</div>
