<div class="container login">

  <form class="form-signin" ng-submit="login()">
    <h2 class="form-signin-heading">Please enter your credentials</h2>
    
    <p class="bg-danger" ng-if="error">{{error}}</p>

    <label for="inputBackendId" class="sr-only">Backend Id</label>
    <input type="text" ng-model="loginData.backendId" id="inputBackendId" class="form-control" placeholder="BackendId" required autofocus>

    <label for="inputUsername" class="sr-only">Adresse e-mail</label>
    <input type="text" ng-model="loginData.username" id="inputUsername" class="form-control" placeholder="Username" required>
    
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" ng-model="loginData.password" id="inputPassword" class="form-control" placeholder="Password" required>
    
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" ng-model="loginData.rememberMe"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

</div>

<div id="spacewouf"></div>
<div id="spacewoof-bis"></div>
