<div class="container login">

  <form class="form-signin" ng-submit="reset()">
    <h2 class="form-signin-heading">Choisissez un nouveau mot de passe à 4 chiffres</h2>
    <p class="bg-danger" ng-if="error">{{error}}</p>
    <p class="bg-success" ng-if="success">{{success}}</p>

    <label ng-if="success==undefined" for="inputPassword" class="sr-only">Mot de passe</label>
    <input ng-if="success==undefined" type="password" pattern="[0-9]{4,4}" inputmode="numeric" ng-model="passwordResetData.password" id="inputPassword" class="form-control" placeholder="Code à 4 chiffres" required>
    <label ng-if="success==undefined" for="inputPasswordConfirmation" class="sr-only">Mot de passe</label>
    <input ng-if="success==undefined" type="password" pattern="[0-9]{4,4}" inputmode="numeric" ng-model="passwordResetData.passwordConfirmation" id="inputPasswordConfirmation" class="form-control" placeholder="Confirmez le code à 4 chiffres" required>

    <button ng-if="success==undefined" class="btn btn-lg btn-primary btn-block" type="submit">Confirmer</button>
  </form>

</div>
